*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background-color:beige;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

button {
	background: #0088FF;
	display: inline;
	margin: 20px;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 10px;
	color: #eee;
}
button:hover  {
	opacity: .7;
}

.updateLoadedGameUIButton {
	background: #00ff2a;
}

/*action interval bar animation*/
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
  }

#action-interval-bar-woodcutting {
	transition: unset;
}

#action-interval-bar-mining {
	transition: unset;
}

#action-interval-bar-fishing {
	transition: unset;
}

